




/* DEBUG CSS END */
/* div, footer, header, main, nav, aside {
    border: 1px solid red;
} */
/* DEBUG CSS END */


/* HEADER CSS END */
.navigation-bar {
    background-color: lightgray;
    display: flex;
    justify-content: space-between; /* Align children to opposite ends */
    align-items: center; /* Center vertically */
}

.nav-cell {
    flex: 1;
}

.nav-cell > a {
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    /* display: flex; */
    align-items: center;

}

.logo {
    flex: 1;
    /* margin: auto; */
}

.nav-delimiter {
    margin-left: auto; /* Pushes the following elements to the right */
}

.nav-sections {
    display: flex;
}

/* HEADER CSS END */

/* FOOTER CSS START */

.footer-bar {
    padding: 10px 0px 10px 0px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}

.footer-links {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-link {
    flex: 1;
    margin: 0 5px; /* Add margin to create space between footer links */
    text-align: center;
}

.footer-text {
    margin-top: 5px;
}

.footer-bar > .footer-links > .footer-link > a > img {
    max-width: 56px;
    max-height: auto;
}

/* FOOTER CSS END */

/* SECTION CSS START */
.section-delimiter {
    background-color: lightgray;
    padding: 2px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.section-heading {
    font-size: 3.2em
}

/* HERO SECTION CSS START */
#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin: 20px; 
}

#hero-section img {
    width: 100%; /* Make the image stretch to fill the container */
    max-width: 100%; /* Limit the maximum width of the image */
    max-height: 500px;
    height: auto; /* Maintain aspect ratio */
}

#hero-section div {
    text-align: center; /* Center the text */
}

.hero-section-text {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* HERO SECTION CSS START */

/* CONTENT SECTION CSS START */

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    padding-left: 8em;
    padding-right: 8em;
    /* box-shadow: 20px 0px 100px 20px rgba(0, 0, 0, 0.1);  */
}

.section-heading {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add margin for spacing */
}

/* .content-section-subsection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-section-text {
    margin-bottom: 10px; 
}

.content-section-image {
    align-self: center; 
} */

.content-section-subsection {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add margin for spacing */
}

.content-section-text {
    flex: 1; /* Take remaining space */
    margin-right: 20px; /* Add margin to create space between text and image */
}

.content-section-image {
    flex-shrink: 0; /* Prevent image from shrinking */
    order: 1; /* Change the order to appear after the text */
}

.content-section-image > img {
    height: 200px;
    width: 200px;
}

/* CONTENT SECTION CSS END */


/* SECTION CSS START */

