/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* RESET CSS START*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET CSS END*/

/* TEXT CSS START */
body {
    font-size: 1.2em;
    font-family:'Josefin Sans'
}

body {
    color: #1e1e1eff;
}
/* TEXT CSS END */

/* HIGHLIGHT CSS START */

.highlight {
    /* color: #ea9999ff; */
    /* color: ea9999ff; */
}

/* HIGHLIGHT CSS END */

/* BACKGROUND */
body {
    background-color: rgb(241, 241, 241);
}
/* BACKGROUND */





/* HOLY GRAIL CSS START */

.holyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.holyGrail-body {
    display: flex;
    flex: 1;
}
.holyGrail-content {
    flex: 1;
}
  
.holyGrail-nav, .holyGrail-ads {
    /* 12em is the width of the columns */
    /* flex: 0 0 12em; */
    flex: 0 0 20em;
}
  
.holyGrail-nav {
    /* put the nav on the left */
    order: -1; /* Redundant, if you order the columns in html.*/
}

.holyGrail,
.holyGrail-body {
  display: flex;
  flex-direction: column;
  
}

@media (min-width: 768px) {
  .holyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .holyGrail-content {
    flex: 1;
  }
  .holyGrail-nav, .holyGrail-ads {
    /* 12em is the width of the columns */
    /* flex: 0 0 12em; */
  }
}

/* When the screen size goes under this, execute these rules. */
@media (max-width: 768px) {
    .holyGrail-nav, .holyGrail-ads {
        /* 12em is the width of the columns */
        display: none;
      }
}

@media (orientation: portrait) {
    .holyGrail-nav, .holyGrail-ads {
        /* display: none; */
        flex: 0 0 6em;
    }
}

/* HOLY GRAIL CSS END */

/* DEBUG CSS END */
div, footer, header, main, nav, aside {
    border: 1px solid red;
}
/* DEBUG CSS END */


/* HEADER CSS END */
.navigation-bar {
    background-color: lightgray;
    display: flex;
    justify-content: space-between; /* Align children to opposite ends */
    align-items: center; /* Center vertically */
}

.nav-cell {
    flex: 1;
}

.nav-cell > a {
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    /* display: flex; */
    align-items: center;

}

.logo {
    flex: 1;
    /* margin: auto; */
}

.nav-delimiter {
    margin-left: auto; /* Pushes the following elements to the right */
}

.nav-sections {
    display: flex;
}

/* HEADER CSS END */

/* FOOTER CSS START */

.footer-bar {
    padding: 10px 0px 10px 0px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}

.footer-links {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-link {
    flex: 1;
    margin: 0 5px; /* Add margin to create space between footer links */
    text-align: center;
}

.footer-text {
    margin-top: 5px;
}

.footer-bar > .footer-links > .footer-link > a > img {
    max-width: 56px;
    max-height: auto;
}

/* FOOTER CSS END */

/* SECTION CSS START */
.section-delimiter {
    background-color: lightgray;
    padding: 1.2px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.section-heading {
    font-size: 3.2em
}

/* HERO SECTION CSS START */
#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin: 20px; 
}

#hero-section img {
    width: 100%; /* Make the image stretch to fill the container */
    max-width: 100%; /* Limit the maximum width of the image */
    max-height: 500px;
    height: auto; /* Maintain aspect ratio */
}

#hero-section div {
    text-align: center; /* Center the text */
}

.hero-section-text {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* HERO SECTION CSS START */

/* CONTENT SECTION CSS START */

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    padding-left: 8em;
    padding-right: 8em;
}

.section-heading {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add margin for spacing */
}

/* .content-section-subsection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-section-text {
    margin-bottom: 10px; 
}

.content-section-image {
    align-self: center; 
} */

.content-section-subsection {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add margin for spacing */
}

.content-section-text {
    flex: 1; /* Take remaining space */
    margin-right: 20px; /* Add margin to create space between text and image */
}

.content-section-image {
    flex-shrink: 0; /* Prevent image from shrinking */
    order: 1; /* Change the order to appear after the text */
}

.content-section-image > img {
    height: 200px;
    width: 200px;
}

/* CONTENT SECTION CSS END */


/* SECTION CSS START */

