.content-section {

    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: var(--content-section-sidebar-padding);
    padding-right: var(--content-section-sidebar-padding);
}

.content-section-subsection {
    width: 100%;
    padding-top: var(--content-section-subsection-horizontal-padding);
    padding-bottom: var(--content-section-subsection-horizontal-padding);
}

.content-section-text {
    
    width: 100%;
    position: relative;
}

.content-section-text {
    /* font-size: var(--content-section-text-font-size); */
    font-size: var(--body-font-size);
    /* text-align: justify;  */
    text-align: left;
    line-height: 1.6;
}

.content-section-image {
    float: right;
    margin-top: 0px;
    margin-bottom: var(--content-image-bottom-padding);
     /* 20px; */
    margin-left: var(--content-image-side-padding);
    /* 50px */
    margin-right: 0px;
    width: 100%;
    max-width: var(--content-image-max-width);
       /* 400px; */
    height: auto;
}

.content-section-image-left {
    float: left;
    margin-top: 0;
    margin-bottom: var(--content-image-bottom-padding);
    margin-left: 0px;
    margin-right: var(--content-image-side-padding);
    width: 100%;
    max-width: var(--content-image-max-width);
    /* max-width: 400px; */
    height: auto;
}