:root {
    --logo-font-size: 1.6em;
    --navbar-section-children-font-size: 1.2em;
    
    --section-heading-font-size: 2.8em;
    
    --hero-section-horizontal-margin: 1.6em;
    --hero-section-text-font-size: 1.6em;
    
    --content-section-text-font-size: 1.35em;

    --footer-font-size: 0.8em;
}


@media (max-width: 1366px) {
    :root {
        --logo-font-size: 1.4em;
        --navbar-section-children-font-size: 1.1em;
        --section-heading-font-size: 2.5em;
        --hero-section-horizontal-margin: 1.4em;
        --hero-section-text-font-size: 1.4em;
        --content-section-text-font-size: 1.2em;
        --footer-font-size: 0.7em;
    }
}
