.navigation-bar {
    background-color: var(--background-navbar-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.navigation-bar {
    padding-top: var(--navbar-horizontal-padding);
    padding-bottom: var(--navbar-horizontal-padding);
}

.nav-cell {
    flex: 1;
}

.nav-logo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding-left: 12em; */
}

/* .logo {
    font-size: var(--logo-font-size);
    display: inline-block;
    height: 22px; 
    width: auto;  
} */

.logo {
    font-size: var(--logo-font-size);
    font-style: bold;
    display: inline-block;
    height: 22px;
    width: auto;
    line-height: 1.2;
    /* border: 1px solid red; */
}

.logo .top-text,
.logo .bottom-text {
    /* border: 1px solid green; */
    display: block;
    text-align: left;
    white-space: nowrap;
}

.logo-img {
    height: 100%;
    width: auto;
}

/* .nav-theme-changer {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px; 
}

.theme-changer {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
} */

.nav-theme-changer {
    display: inline-block;
    margin: 0 10px; /* Add margin if needed for spacing */
}

.theme-changer {
    height: var(--theme-changer-size);
     /* 40px; */
    width: var(--theme-changer-size);
    /* 40px; Fixed width and height for responsiveness */
    background-color: black;
    border: 0px solid #000;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    transition: background-color 0s, color 0s;
}

.theme-changer.dark-mode {
    background-color: white;
    color: white;
}

.nav-delimiter {
    margin-left: auto; 
}

.nav-sections {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

@media (min-width: 340px) {
    
}


.nav-section-child {
    font-size: var(--navbar-section-children-font-size);
    text-align: center;
    padding: 0 10px;
}

.navigation-redirect-link {
    text-decoration: none;
    color: inherit;
}


:root {
    --logo-color-light: black;
    --logo-color-dark: white;
}

.logo-img {
    color: var(--logo-color-light);
}

.dark-mode .logo-img {
    color: var(--logo-color-dark);
}