.holyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.holyGrail-body {
    display: flex;
    flex: 1;
}
.holyGrail-content {
    flex: 1;
}
  
.holyGrail-nav, .holyGrail-ads {
    flex: 0 0 var(--sidebar-width);
}
  
.holyGrail-nav {
    /* Redundant, if you order the columns in html.*/
    order: -1; 
}

.holyGrail, .holyGrail-body {
    display: flex;
    flex-direction: column;
  
}

@media (min-width: 768px) {
    .holyGrail-body {
        flex-direction: row;
        flex: 1;
    }
    .holyGrail-content {
        flex: 1;
    }
    .holyGrail-nav, .holyGrail-ads {

    }
}
  
  /* When the screen size goes under this, execute these rules. */
@media (max-width: 768px) {
    .holyGrail-nav, .holyGrail-ads {
        display: none;
    }
}
  
@media (orientation: portrait) {
    .holyGrail-nav, .holyGrail-ads {
        /* display: none; */
        flex: 0 0 6em;
    }
}