.section-delimiter {
    background-color: var(--section-delimiter-color);
    padding: 2px;
    margin-top: var(--section-delimiter-horizontal-padding);
    margin-bottom: var(--section-delimiter-horizontal-padding);
}

.section-heading {
    font-size: var(--section-heading-font-size);
    text-align: center;
    /* width: 100%; */
    margin-bottom: var(--section-heading-margin-bottom); 
}

.section-subheading {
    font-size: var(--section-subheading-font-size);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


