:root {
    --sidebar-width: 32em;
    /* On laptop */
    /* 12em; */ 
    /* On Monitor */
    /* 32em */
    

    --navbar-horizontal-padding: 0.28em;

    --section-delimiter-horizontal-padding: 1.2em;
    

    --hero-section-image-max-width: 1000px;
    --hero-section-horizontal-padding: 1em;

    --content-section-sidebar-padding: 6em; 

    --content-section-subsection-horizontal-padding: 20px;


    --footer-horizontal-padding: 10px;
    --footer-link-margin: 0 5px;
    --footer-text-margin-top: 5px;
    --footer-link-img-width: 56px;
}
