:root {
    --background-color-body-start: white;
    
    --background-navbar-color: #4797ff;

    --background-holyGrail-content: #f8f8f8;
    --background-color-section: #e5e5e5ff;
    
    --text-color: #1e1e1eff;
    
    --section-delimiter-color: #e9e5e5f2;
    
    --background-color-footer: rgb(243, 243, 243);   
}

body.dark-mode {
    --background-color-body-start: rgb(46, 46, 46);

    --background-navbar-color: #092243;

    --background-holyGrail-content: rgb(36, 36, 36);
    --background-color-section: #e5e5e5ff;

    --text-color: #e5e5e5ff;

    --section-delimiter-color: rgba(87, 87, 87, 0.948);
    /* #6a6affff; */
    --highlight-color: #ea9999ff;
    

    --background-color-footer: rgb(82, 82, 82);   
}
