:root {
    --background-color-body-start: #B9B9F7;
    /* Todo add this to the gradient */
    --background-color-body-middle: white; 
    --background-color-body-end: white;
    
    --background-navbar-color: #b9b9f7;

    /* rgb(166, 166, 250); */
    --background-holyGrail-content: rgb(241, 241, 241);
    --background-color-section: #e5e5e5ff;
    
    --text-color: #1e1e1eff;
    
    --section-delimiter-color: rgba(233, 229, 229, 0.948);
    /* #6a6affff; */
    --highlight-color: #ea9999ff;
    

    --background-color-footer: rgb(233, 233, 233);   
}

body.dark-mode {
    --background-navbar-color:#ea9999ff;
    --background-color: #1e1e1eff;
    --text-color: #e5e5e5ff;
}